html * {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
     !important;
}

#header {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    margin-bottom: 50px;
    text-align: center;
}

#footer {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    margin-top: 50px;
    text-align: center;
    line-height: 0.4;
}

.footerColumn {
    float: left;
    width: 50%;
}

.column {
    float: left;
    text-align: center;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.horizontal {
    float: left;
    border: 1px solid green
}

.horizontal * {
    display: inline-block;
    margin-left: 10px;
}

.nonDisplay {
    display: none;
    text-align: left;
}

.linkToHTML {
    position: fixed;
    top: -4px;
    right: 131px;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #46b8da;
    text-decoration: none;
    background-color: #31B0D5;
}

.linkToHTML:visited {
    color: white;
    text-decoration: none;
}

.linkToHTML:hover {
    color: #FCFF4B;
    text-decoration: none;
}

.linkToCSS {
    position: fixed;
    top: -4px;
    right: 58px;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #46b8da;
    text-decoration: none;
    background-color: #FFAD05;
}

.linkToCSS:visited {
    color: white;
    text-decoration: none;
}

.linkToCSS:hover {
    color: #FCFF4B;
    text-decoration: none;
}

.linkToJS {
    position: fixed;
    top: -4px;
    right: 0px;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #46b8da;
    text-decoration: none;
    background-color: #DB2B39;
}

.linkToJS:visited {
    color: white;
    text-decoration: none;
}

.linkToJS:hover {
    color: #FCFF4B;
    text-decoration: none;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.1;
    text-decoration: none;
    pointer-events: none;
}

